@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;
}

// responsive

$laptop: 1024px;
$tablets: 768px;
$phones: 480px;


@function rem($px) {
    @return $px / 16px + 0rem;
}

@mixin laptops {
    @media screen and (max-width: $laptop) {
        @content;
    }
}

@mixin tablets() {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones() {
    @media screen and (max-width: $phones) {
        @content;
    }
}